<ul class="nav nav-pills nav-stacked">
  {% for serie in Series %}
    <li>
      <a href="{{ path('pw_progres_sies_view', {'id': serie.id}) }}">
        {{ serie.title }}
      </a>
    </li>
  {% endfor %}
</ul>