{% extends "PWProgresSiesBundle::layout.html.twig " %}

{% block header %}
      <div id="header" class="starter-template" style="background-color:#FFFFFF; ">
        <h1 style="text-align: center; font-size:50px">ProgresSies</h1>
      </div>
{% endblock %}

{% block body %}
	<h3> Modifier votre série </h3>
	{{ include("PWProgresSiesBundle:ProgresSies:form.html.twig") }}
{% endblock %}